{% extends "base.html" %}

{% block content %}
  
<div class="section-padding">
    <div class="container">
        <div class="hero text-center my-3">
            <h1>
                About Us
            </h1>
        </div>
        <div class="bio">
            <div class="text-center">
                <h3>Dr. Gisele Tchamba</h3>
                <h6>Is the Founder and Executive Director of <br>
                    ADR Evaluation Consulting.
                </h6>
                <p>Dr. Tchamba is a seasoned academic profressional with 15+ years of program evaluation
                    and research in the academic sector. Recognized for demonstrating a natural
                    aptitude for executing quantitative and qualitative data analysis, as well as for evaluating
                    programs and conducting research, she has a history of contributing directly to academic knowledge
                    throughout her career. Profressional focal points include program evaluation, consulting, academic
                    research, program management and development, literature reviews, teaching, performance assessment, 
                    crossfunctional team leadership, surveys, qualitative and quantitative analysis, report writing, 
                    and project management. Delivering superiror administration in latter areas of expertise 
                    requires the ulitization of effective communication skills, grant writing skills, as well as 
                    academic acumen, data collection, research management, and resource management to support efficiency and maximum returns.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}