{% extends "base.html" %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="text-center hero">
            <h6>A New Mindset for A Physical and Emotional Pain Free Life</h6>
            <h3>ESC Wellness Services</h3>
        </div>

        <div class="row my-3">
            <div class="col-md-6">
                <h5>Welcome to the Experience Sustainable Change Wellness Program.
                    I am Dr. Gisele Tchamba, and I will walk with you from the beginning of your journey to your
                    destination. Together we will figure out what are your health goals and fulfill them.
                    You will be empowered, encouraged, ennobled, strengthened by the Highest existing Power. By the time
                    you reach your destination with us, you will be ready to lead others along the same path.
                    Let's begin this fun journey!
                </h5>
            </div>
            <div class="col-md-6">
                <img src="http://via.placeholder.com/500" alt="profile image">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-6 my-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">ESC wellness is a program that provides healing from physical
                            and emotional pain to individuals who are stuck in unhealthy behaviors patterns
                            (codependency),
                            diet/relapse cycle, and difficulty coping with life challenges.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 my-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">ESC Wellness is a four-part program. ( Assessment, Mind, body and soul
                            detox,
                            Healthy Nutrition, and Prayer and Meditation ).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-padding">
            <h1 class="text-center">WHAT YOUR TRANSFORMATION REQUIRES</h1>
        </div>

        <div class="row">
            <div class="col-3">
                <h4>Assessment</h4>
                <p>This is not a one-size-fits-all program. 
                    Therefore, we will you to complete our questionnaire so we can have clear details about you, 
                    and get a general sense of your unique need.</p>
            </div>
            <div class="col-3">
                <h4>Mind and Body Detox</h4>
                <p>Mind and body detox quicken healing. 
                    Mind detox consists  in the use of rational emotive and cognitive behavior therapies but
                    from the Biblical perspective.
                    Body detox consists in the use of natural herbs  and healthy nutrition to rid the body of toxins</p>
            </div>
            <div class="col-3">
                <h4>Healing Naturally: The Eight Doctors</h4>
                <p>This steps aims to improve your wellbeing  by implementing health principles  that includes the use of the following natural Doctors: 
                    Nutrition, Exercise, Water,  Sunlight, temperance, Fresh air, Rest, and Trust in divine power.</p>
            </div>
            <div class="col-3">
                <h4>Prayer, Meditation and Movement</h4>
                <p>ESC Wellness is a faith-based program. Its healing approach focuses on the power of the mind (mind education) 
                    through faith in a God Who can heal all sorts of diseases. 
                    Therefore, our meditation focuses on His empowering and reassuring Words.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}